/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> */
/*Common Config Group selector*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-size: 6.5px;/*telefon için küçük ekran*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13,32, 18);
    text-align: center;
    line-height: 1.7;
    color: #fff;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
img{
    height: auto;
    width: 100%;
}
main #division-2-list ul{
    list-style-type: none;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.col20{
    float: left;
    width: 20%;
    box-sizing: border-box;
}
.col25{
    float: left;
    width: 25%;
    box-sizing: border-box;
}
.col50{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.col75{
    float: left;
    width: 75%;
    box-sizing: border-box;
}
.col100{
    float: left;
    width: 100%;
    box-sizing: border-box;
}
nav{
    background-color: #007bff;
    color: #fff;
    padding: 3rem 0 3rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 10%;
}
.web-sayfa{
    color: #fff;
    font-size: 2rem;
}
#menu{
    float: right;
}
#menu li{
    display: inline-block;
    margin:0 9rem 9rem 0;/*12*/
} 
#menu i{
    margin: .5rem;
}
#menu i:hover{
    color: peru;
}
#menu a{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    transition: all .3s;
}
#menu a:hover{
    background-color: #fff;
    color: #007bff;
}
#logo{
    float: left;
    text-transform: uppercase;
}
#logo-image{
   width: 12rem;
   height: 12rem ;
   border-radius: 50% 50%;
   transition: all .5s;
}
#logo-image:hover{
    opacity: .8;
    box-shadow: 1px 1px 1px 1px red;
}
.upperCase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.line-clamp-1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*-------------------------------- header ------------------------------*/
/*container-------------*/
.container{
    width: 120rem;
    margin: 0 auto;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: 2rem;
    
}
header{
    height: 80rem;
    
    position: relative;
}
header .image-header{
    height: 80rem;
    width: 100%;
    background-image: url(image/yazılım3.jpg);
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center;
}
header h1{
    padding: 24rem 12rem 2rem 12rem;
    text-transform: uppercase;
}
 header p{
    padding: 3rem;
 }
.btn-header{
    color: #fff;
    background-color: #007bff;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 400px;
    text-align: center;
    transition: all 0.4s;
    margin: 6rem 0rem;
    padding: 1.7rem 3.4rem;
    border: 1px solid rgb(255, 212, 59);
    white-space: nowrap;
    box-shadow: 1px 2px 3px 2px black;
}
.btn-header:hover{
    background-color: #fff;
    color: #007bff;
    box-shadow: 1px 2px 3px 6px black; 
}

/*--------------------------section-1--------------------------------*/
#division-1-main{
    background-color: black;
    color: white;
    padding: 4.4rem 0rem;
}
/*--------------------------section-2--------------------------------*/
#division-2-list{
    padding: 2.3rem;
}
#area-div{
    padding: 1.4rem;
}
#division-2-list{
    background-color: #fff;
    color: #234;
}
.area img{
    border-radius: 1rem;
    opacity: 0.9;
}
.area .area-div h3{
    text-transform: uppercase;
    font-weight: bolder;
}
/*--------------------------section-3--------------------------------*/
#division-3-career{
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
}
#left-main{
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: tomato;
}
#right-main{
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: orangered;
}
#right-main ul{
    list-style-type: none;
}
/*Tap menu*/
#bottom a{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #007bff;
    color: white;
    border: 1px solid red;
    width: 90px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 8px;
    transition: all .4s;
    text-align: center;
}
#bottom a:hover{
 background-color: #007bff;
 color: red;
 box-shadow: 1px 2px 3px 2px black;
 border-radius: 3rem;
}
/*---------------about us-----------------*/
#division-contact{
    margin-top:0;
    margin-bottom: 0;
    background-color: black;
    width: 100%;
    min-height: 40rem;
}
/*------------------Contact*-------------*/
#form-email{
    width: 100%;
    background-color: #f2efef;
    /* height: 25rem; */
}
#form-email h1,p{
    color: black;
    margin-top: .2rem;
    padding-top:3rem;
}
#form-group-all{
    width: 100%;
    height: 20%;
    height: auto;
}
.form-control{
    width: 90%;
    padding: 1rem;
    border: 1px solid blueviolet;
    box-sizing: border-box;
    border-radius: .5rem;
}
.form-control:focus{
    border-color: #007bff;
    background-color: cornflowerblue;

}
.form-group{
    margin-bottom: .5rem;
}
.btn{
    color: #fff;
    background-color: #007bff;
    border: 1px solid red;
    border-radius: .7rem;
    padding: .9rem .18rem;
    width: 10%;
}
/*------------------footer*-------------*/
footer{
    padding: 6rem 6rem 12rem 6rem;
}
footer a{
    color: #ff4500;
}
/*------------Responsive Design----------*/
/*Orta Ekran*/
  @media screen and (min-width:769px) {
    #division-2-list li{
        width: 47%;
        margin: 1%;
         display: inline-block;
    }
    html{
        font-size: 8px;
    }
}

/*Buyuk Ekran*/
@media screen and (min-width:900px) {
    #division-2-list li{
        width: 31%;
        margin: 1%;
        display: inline-block;
    }
    html{
        font-size: 9px;
    }
      #menu{
        display: inline-block;
    }
}
/*En buyuk Ekran*/
@media screen and (min-width:1200px) {
    #division-2-list li{
        width: 20%;
        margin: 1%;
        display: inline-block;
    }
    html{
        font-size: 12px;
    }
}
